// @include font-face("Gerbera", "../fonts/Gerbera700", 700, normal);
// @include font-face("Gerbera", "../fonts/Gerbera600", 600, normal);
@include font-face("Gerbera", "../fonts/Gerbera500", 500, normal);
// @include font-face("Gerbera", "../fonts/Gerbera400", 400, normal);
@include font-face("Gerbera", "../fonts/Gerbera400", 400, normal);
// @include font-face("Gerbera", "../fonts/Gerbera800", 800, normal);
// @include font-face("Roboto", "../fonts/Roboto-Regular", 400, normal);
// @include font-face("Inter", "../fonts/Inter-Bold", 700, normal);
// @include font-face("Roboto", "../fonts/Roboto-Bold", 600, normal);
// @include font-face("Inter", "../fonts/Inter-ExtraBold", 800, normal);
