.benefits {
    padding-bottom: 50px;
}

.benefits__inner__title {
    color: rgb(182, 193, 221);
    font-size: 50px;
    font-weight: 700;
    line-height: 1.4;
}

.benefits__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 30px;
}

.benefits__inner__item {
    background: rgb(231, 231, 240);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 12px 2px hsla(200,3%,63%,.24);

    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto auto;
    align-items: center;
    column-gap: 20px;

    & img{
        grid-row: 1/3;
    }
}

.benefits__inner__item__title {
    color: rgb(47, 52, 65);
    font-size: 32px;
    line-height: 1.4;
    padding-bottom: 10px;

    @include mobile{
        font-size: 25px;
    }
}

.benefits__inner__item__text {
    grid-row: 2;
    font-size: 18px;
    color: rgb(96, 105, 129);
    line-height: 140%;
}