.hero {
    @include bg-cover;
    min-height: 100vh;
    background-attachment: fixed;

    & .container {
        display: flex;
        justify-content: center;
        align-items: center;
        // min-width: max-content;
        // width: 100%;
        min-height: 100vh;

        @include mobile{
            justify-content: flex-start;
        }
    }
    // padding: 50px 0;
}

.hero__inner {
    // width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 80px;
    align-items: center;
    position: relative;
     top: -100px;

     @include tablet{
        top: 0;
        position: static;
     }

     @include mobile{
        grid-template-columns: unset;
        display: flex;
        flex-direction: column;
     }
}

.hero__inner__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hero__inner__title {
    font-size: 48px;
    line-height: 1.4;
    font-weight: 400;
}

.hero__inner__subtitle {
    font-size: 24px;
    line-height: 1.5;
    text-align: left;
}

.hero__inner__item__benefits {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(48px, 1fr));
    gap: 20px;
    margin-top: 50px;

    @include mobile{
        gap: 5px;
    }

    @include small-mobile{
        display: flex;
        flex-wrap: wrap;
    }

    & li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;


        & span {
            line-height: 1.4;
            font-size: 16px;
        }
    }

}

.hero__inner__item__calculation {
    width: 100%;
    padding: 48px 32px 24px;
    //margin: 0px -32px;
    border-radius: 36px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(159, 157, 163, 0.28);
    box-shadow: rgba(157, 161, 163, 0.24) 0px 0px 12px 2px;

    & form .wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 40px;
    }

    @include small-mobile{
        padding: 25px 15px;
    }
}

.hero__inner__item__calculation__section {
    width: 100%;
    border: 1px solid rgba(159, 157, 163, 0.28);
    border-radius: 6px;
    position: relative;
    display: grid;
    &.--start{
        grid-template-columns: 60% 40%;
    }
    &.--receive{
        grid-template-columns: 60% 40%;
        grid-template-rows: auto auto;
    }
    @include small-tablet{
        grid-template-columns: 45% 55% !important;
    }

    @include small-mobile{
        grid-template-columns: 100% !important;
    }

    &::before {
        position: absolute;
        z-index: 1;
        top: -12px;
        left: 8px;
        font-size: 14px;
        line-height: 20px;
        color: rgb(119, 118, 122);
        background-color: white;
        padding: 0 5px;

        @include mobile{
            top: -22px;
            font-size: 12px;
        }
        @include small-mobile{
            top: -12px;
        }
    }

    & label {
        height: 100%;
        border: none;
        border-radius: 6px;
        grid-row: 1/3;
    }

    & input {
        height: 100%;
        padding: 0px;
        width: 100%;
        font-size: 17px;
        line-height: 24px;
        border: none;
        border-radius: 6px;
        padding-left: 10px;

        @include small-mobile{
            min-height: 55px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

}

.--start.hero__inner__item__calculation__section::before {
    content: 'Вы отправляете';

    @include mobile{
        content: 'Вы \A отправляете';
        white-space: pre; /* Это нужно для корректной обработки символа \A */
    }
    @include small-mobile{
        content: 'Вы отправляете';
    }
}

.--receive.hero__inner__item__calculation__section::before {
    content: 'Получатель получит';
    
    @include mobile{
        content: 'Получатель \A получит';
        white-space: pre; /* Это нужно для корректной обработки символа \A */
    }

    @include small-mobile{
        content: 'Получатель получит';
    }
}

.hero__inner____item__calculation__data {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: rgb(78, 78, 78);

    & li {
        display: flex;
        white-space: nowrap;
        font-size: 14px;
        line-height: 20px;
    }
}

.hero__inner____item__calculation__data__line {
    flex-grow: 1;
    background-color: rgb(211, 211, 211);
    height: 1px;
    margin-bottom: 5px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: auto;
}

.hero__inner__item__calculation__button {
    display: block;
    margin: 20px auto;
    text-align: center;
    font-size: 16px;
    border: 1px solid grey;
    max-width: min-content;
    white-space: nowrap;
    padding: 10px 20px;
    border-radius: 100px;
    color: white;
    background-color: rgb(118, 51, 255);
    transition: all 0.3s linear;

    &:hover{
        background-color: rgb(228, 214, 255);
        color: rgb(118, 51, 255);
    }
}

#select_money_receive, #select_money_valuta, #select_money_contry {
    width: 100% !important;

    & .dd-select {
        width: 100% !important;
    }

    & .dd-selected-image {
        max-width: 35px;
    }

    & .dd-options.dd-click-off-close{
        max-height: 346px;
    }
}
#select_money_valuta{
    grid-column: 2;

    @include small-mobile{
        grid-column: unset;
    }

    & .dd-select img{
        display: none;
    }
}
.dd-options{
    overflow-y: auto !important;
}

@include small-mobile{
    .dd-container{
        font-size: 12px !important;
    }
}