<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>
    <div class="page">
        {{> header }}

        <main class="main">
            {{> body }}
        </main>
        {{> footer }}

    </div>
    <script src="assets/js/app.js" defer></script>
    <script defer>
        function changeImage(event){
            let currentRow = event.target.dataset.selected;
            let imageBox = document.querySelectorAll('.help__inner__item__image');
            imageBox.forEach(element => {
                if(element.classList.contains('help__inner__item__selected')){
                    element.classList.remove('help__inner__item__selected');
                }
            });
            let currentImage = document.querySelector(`[data-selectimage="${currentRow}"]`);
            currentImage.classList.add('help__inner__item__selected');
        }
    </script>
</body>
</html>

